@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.head {
    background-color: rgb(58, 0, 90);
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.B1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.H1{
    text-align: center;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: white;
}